<?xml version="1.0"?>

<model>
    <name>obs_cylinder_large</name>
    <version>1.0</version>
    <sdf version='1.6'>obs_cylinder_large.sdf</sdf>

    <author>
        <name>Olivier Kermorgant</name>
        <email>olivier.kermorgant@ec-nantes.fr</email>
    </author>

    <description>
        chessboard for calibration
    </description>
</model>
