<?xml version="1.0"?>
<launch>
    <include file="$(find easondrone_gazebo)/launch/spawn_iris.launch">
        <arg name="world" value="$(find easondrone_gazebo)/worlds/outdoor/power_tower.world"/>
        <arg name="sdf" value="$(find easondrone_gazebo)/models/drone/iris_d435i_mid360/iris_d435i_mid360.sdf"/>
    </include>

    <rosparam command="load" file="$(find fast_livo)/config/mid360.yaml" />

	<node pkg="fast_livo" type="fastlivo_mapping" name="laserMapping" output="screen">
		<rosparam file="$(find fast_livo)/config/camera_d435.yaml" />
	</node>

    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find easondrone_gazebo)/config/fast_livo_ego_planner.rviz"/>
</launch>
