<?xml version="1.0"?>
<launch>
    <arg name="world" default="$(find aws_robomaker_bookstore_world)/worlds/bookstore.world"/>
    <arg name="sdf" default="$(find easondrone_gazebo)/models/drone/iris_d435i_mid360/iris_d435i_mid360.sdf"/>

    <include file="$(find px4)/launch/mavros_posix_sitl.launch">
        <arg name="x" value="0" />
        <arg name="y" value="0" />
        <arg name="z" value="0.05" />
        <arg name="Y" value="0" />
        <arg name="world" default="$(arg world)"/>
        <arg name="sdf" default="$(arg sdf)"/>
        <arg name="gui" value="true"/>
        <arg name="paused" value="false"/>
    </include>

    <include file="$(find easondrone_gazebo)/launch/transform.launch"/>

    <node type="odom_visualization" pkg="odom_visualization" name="odom_visualization"/>
</launch>
