<?xml version="1.0"?>
<model>
  <name>iris_d435i_vlp16</name>
  <version>1.0</version>
  <sdf version='1.6'>iris_d435i_vlp16.sdf</sdf>

  <author>
   <name>Eason Hua</name>
   <email>12010508@mail.sustech.edu.cn</email>
  </author>

  <description>
    This is a model of the iris, with Velodyne VLP 16, Intel RealSense D435i and monocular camera.
  </description>
</model>
