<?xml version="1.0"?>
<model>
  <name>velodyne_vlp16</name>
  <version>1.0</version>
  <sdf version="1.6">velodyne_vlp16.sdf</sdf>

  <author>
   <name>Eason Hua</name>
   <email>12010508@mail.sustech.edu.cn</email>
  </author>

  <description>
      Velodyne Mid-range lidar sensor
      https://ouster.com/products/hardware/vlp-16
  </description>
</model>
